# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log
error_log.txt

# IDEs
.idea/
*.iml
.vscode/
.project
.settings/
.classpath

# OS
.DS_Store
Thumbs.db

# Other
*.tmp
*.swp
